# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

__pypackages__/


# Environments
venv/

# PyCharm
.idea/

# config files
configs/*.yaml
!configs/base.yaml
!configs/demo.yaml

#db
databases/db.sqlite3
databases/db.sqlite3-shm
databases/db.sqlite3-wal

# wedrivers
visit_scheduler/visitor/drivers/chromedriver